* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}
.container {
  width: 500px;
  height: 700px;
  margin: auto;
  border: solid black;
  border-radius: 10px;
}
.display {
  height: 150px;
  background-color: aqua;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}
.operator {
  font-size: 40px;
  text-align: center;
}
.content {
  text-align: end;
  flex: 1;
  font-size: 40px;
  align-content: end;
  overflow-wrap: break-word;
}
.calculator {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  flex-wrap: wrap;
}
.btn-number,
.btn,
.btn-operator {
  width: 100px;
  height: 100px;
  flex: auto;
  border-radius: 9px;
  color: black;
}
.btn {
  background-color: #76d7c4;
}
.btn-operator {
  background-color: #85c1e9;
}
.btn-number {
  background-color: #f4f6f7;
}
.btn:hover {
  background-color: #1abc9c;
}
.btn-number:hover {
  background-color: #d0d3d4;
}

.btn-operator:hover {
  background-color: #3498db;
}
