:root {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
.checkbox {
  margin: 5px 0px;
}
dialog {
  background-color: skyblue;
  color: black;
  font-size: 1.5rem;
  border-radius: 7px;
}
input[type="text"],
input[type="number"] {
  width: 20vw;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1.25rem;
}

button {
  padding: 5px 15px;
  border-radius: 7px;
  background-color: skyblue;
  color: black;
  font-size: 1.25rem;
  margin: 3px;
}
#confirmBtn {
  background-color: green;
  color: white;
  font-size: 1.25rem;
}
#closeBtn {
  background-color: red;
  color: white;
  font-size: 1.25rem;
}
.book-card {
  background-color: whitesmoke;
  border-radius: 7px;
  font-size: 1.25rem;
  padding-left: 25px;
  border: 1px solid blue;
}
.container {
  margin-top: 15px;
  display: grid;
  gap: 25px 25px;
  grid-template: repeat(auto-fit, 250px) / repeat(auto-fit, 250px);
}
